#textarea-to-replace-container {
  all: revert;
}
.jsnotepad {
  font-family: courier;
  font-size: 12px;  
}
.jsnotepad pre {
  font-family: courier;
  font-size: 12px;
}
.jsnotepad-line-numbers {
  background: #222222;
  text-align: right;
  width: 40px;
  float: left;
  padding-right: 2px;
  overflow: hidden;
}
.jsnotepad-line-numbers pre {
  margin: 0;
  padding: 0;
}
.jsnotepad-lines {
  background: #141414;
  float: left;
  clear: right;
  padding: 0;
  overflow: scroll;
  z-index: 5000;
}
.jsnotepad-lines pre {
  margin: 0;
  padding: 0;
  color: #eeeeee;
}
.jsnotepad-lines pre:last-child {
  border-bottom: solid 1px #88AFD0;
}
.jsnotepad-cursor {
  margin: 0;
  padding: 0;
  border:0;
  padding-left:1px;
  background-color:#ffffff;
  z-index: 5100;
}
.jsnotepad-char {
  margin: 0;
  padding: 0;
  background: none;
  opacity: 1;
  color: #ffffff;
}
.jsnotepad-cursor textarea {
  margin: 0;
  padding: 0;
  border: 0;
  color: #eeeeee;
  background: none;
  text-align: left;
  resize: none;
  width: 0;
  height: 0;
}
.jsnotepad-selection-lines {
  padding: 0;
  overflow: hidden;
  background: #4F6272;
  z-index: 300;
}
.jsnotepad-selection-lines pre {
  margin: 0;
  padding: 0;
  color: #eeeeee;
}
.jsnotepad-selection-lines span {
  background: #5F8292;
}
.jsnotepad-blur {
  background: #000000;
  opacity: 0.6;
}
